<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tockm.mappers.NameInfoMapper">
	<!--实体类映射-->
	<resultMap id="base_result_map" type="com.tockm.entity.po.NameInfo">
		<!---->
		<id column="id" property="id"/>
		<!---->
		<result column="name" property="name"/>
		<!---->
		<result column="create_time" property="createTime"/>
		<!---->
		<result column="title" property="title"/>
	</resultMap>

	<!--通用查询结果列-->
	<sql id="base_column_list" >
		id,name,create_time,title
	</sql>

	<!--基础查询条件-->
	<sql id="base_query_condition" >
		<if test="query.id!=null">
			and id = #{query.id}
		</if>
		<if test="query.name!=null and query.name!='' ">
			and name = #{query.name}
		</if>
		<if test="query.createTime!=null">
			and create_time = #{query.createTime}
		</if>
		<if test="query.title!=null and query.title!='' ">
			and title = #{query.title}
		</if>
	</sql>

	<!--扩展查询条件列-->
	<sql id="query_condition_extend" >
		<if test="query.nameFuzzy!=null and query.nameFuzzy!='' ">
			 and name like concat ('%',#{query.nameFuzzy}, '%')
		</if>
		<if test="query.titleFuzzy!=null and query.titleFuzzy!='' ">
			 and title like concat ('%',#{query.titleFuzzy}, '%')
		</if>
	</sql>

	<!--扩展的查询条件-->
	<sql id="query_condition" >
		<where>
			<include refid="base_query_condition" />
			<include refid="query_condition_extend" />
		</where>

	</sql>

	<!--查询集合-->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM tb_name_info
		<include refid="query_condition"/>
		<if test="query.orderBy!=null">order by ${query.orderBy}</if>
		<if test="query.simplePage!=null">limit #{query.simplePage.startIndex}, #{query.simplePage.endIndex}</if>
	</select>

	<!--查询集合-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT count(1) FROM tb_name_info
		<include refid="query_condition"/>
	</select>

	<!--插入（匹配有值字段）-->
	<insert id="insert" parameterType="com.tockm.entity.po.NameInfo">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO tb_name_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				id,
			</if>
			<if test="bean.name!=null">
				name,
			</if>
			<if test="bean.createTime!=null">
				create_time,
			</if>
			<if test="bean.title!=null">
				title,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				#{bean.id},
			</if>
			<if test="bean.name!=null">
				#{bean.name},
			</if>
			<if test="bean.createTime!=null">
				#{bean.createTime},
			</if>
			<if test="bean.title!=null">
				#{bean.title},
			</if>
		</trim>
	</insert>

	<!--插入或更新（匹配有值字段）-->
	<insert id="insertOrUpdate" parameterType="com.tockm.entity.po.NameInfo">
		INSERT INTO tb_name_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				id,
			</if>
			<if test="bean.name!=null">
				name,
			</if>
			<if test="bean.createTime!=null">
				create_time,
			</if>
			<if test="bean.title!=null">
				title,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				#{bean.id},
			</if>
			<if test="bean.name!=null">
				#{bean.name},
			</if>
			<if test="bean.createTime!=null">
				#{bean.createTime},
			</if>
			<if test="bean.title!=null">
				#{bean.title},
			</if>
		</trim>
		on DUPLICATE key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.id!=null">
				id = VALUES(id),
			</if>
			<if test="bean.name!=null">
				name = VALUES(name),
			</if>
			<if test="bean.createTime!=null">
				create_time = VALUES(create_time),
			</if>
			<if test="bean.title!=null">
				title = VALUES(title),
			</if>
		</trim>
	</insert>

	<!--添加（批量插入）-->
	<insert id="insertBatch" parameterType="com.tockm.entity.po.NameInfo">
		INSERT INTO tb_name_info(name,create_time,title)values
		<foreach collection="list" item="item" separator=",">
		(
			#{item.name},#{item.createTime},#{item.title}
		)
		</foreach>
	</insert>

	<!-- 批量添加 修改（批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.tockm.entity.po.NameInfo">
		INSERT INTO tb_name_info(name,create_time,title)values
		<foreach collection="list" item="item" separator=",">
			(#{item.name},#{item.createTime},#{item.title})
		</foreach>
		on DUPLICATE key update
		name = VALUES(name),
		create_time = VALUES(create_time),
		title = VALUES(title)
	</insert>

	<!-- 根据主键修改 -->
	<!-- 根据Id查询 -->
	<select id="selectById" resultMap="base_result_map">
		select <include refid="base_column_list"/>
		from tb_name_info
		where id=#{id}
	</select>

	<!-- 根据Id更新 -->
	<update id="updateById" parameterType="com.tockm.entity.po.NameInfo">
		update tb_name_info
		<set>
			<if test="bean.name!=null">
				name = #{bean.name},
			</if>
			<if test="bean.createTime!=null">
				create_time = #{bean.createTime},
			</if>
			<if test="bean.title!=null">
				title = #{bean.title},
			</if>
		</set>
		where id=#{id}
	</update>

	<!-- 根据Id删除 -->
	<delete id="deleteById">
		delete from tb_name_info
		where id=#{id}
	</delete>

	<!-- 根据Name查询 -->
	<select id="selectByName" resultMap="base_result_map">
		select <include refid="base_column_list"/>
		from tb_name_info
		where name=#{name}
	</select>

	<!-- 根据Name更新 -->
	<update id="updateByName" parameterType="com.tockm.entity.po.NameInfo">
		update tb_name_info
		<set>
			<if test="bean.name!=null">
				name = #{bean.name},
			</if>
			<if test="bean.createTime!=null">
				create_time = #{bean.createTime},
			</if>
			<if test="bean.title!=null">
				title = #{bean.title},
			</if>
		</set>
		where name=#{name}
	</update>

	<!-- 根据Name删除 -->
	<delete id="deleteByName">
		delete from tb_name_info
		where name=#{name}
	</delete>

</mapper>

