<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tockm.mappers.PhoneInfoMapper">
	<!--实体类映射-->
	<resultMap id="base_result_map" type="com.tockm.entity.po.PhoneInfo">
		<!---->
		<id column="id" property="id"/>
		<!---->
		<result column="phone" property="phone"/>
		<!---->
		<result column="province" property="province"/>
		<!---->
		<result column="city" property="city"/>
		<!---->
		<result column="sp" property="sp"/>
		<!---->
		<result column="name" property="name"/>
		<!---->
		<result column="sex" property="sex"/>
		<!--创建时间-->
		<result column="createTime" property="createTime"/>
		<!---->
		<result column="createDate" property="createDate"/>
	</resultMap>
</mapper>

